@use '../../styles/variables' as *;

.dot {
  border-radius: 50%;
  transition: all 0.1s;
  height: 1rem;
  width: 1rem;
  background-color: $foreground;
}

.dotContainer {
  position: absolute;
}

.label {
  position: absolute;
  margin-top: 1rem;
  cursor: text;
  width: 100%;
}
